.page-header {
  text-align: center;
  font-family: monospace;
}

.riffs {
  text-align: center;
  font-family: monospace;
}

.code {
  text-align: center;
  font-family: monospace;
}

.row:nth-child(3) {
  border: 1px solid;
  border-color: #999999;
  border-radius: 10px;
}

.recentwork {
  text-align: center;
}

.glyphicon-menu-right {
  font-size: 1600%;
  color: #999999;;
}

.whitespace-above {
  margin-top: 4em;
}

.whitespace-below {
  margin-bottom: 4em:
}

.project1 {
  padding-top: 1em;
  font-family: monospace;
}

.project2 {
  padding-top: 1em;
  font-family: monospace;
}

.project3 {
  border: 1px solid;
  border-color: #999999;
  border-radius: 10px;
}

.header-bg {
  width: 100%;
  height: 100%;
  height: calc(100% - 1px);
  background-size: cover;
}

.header-bg img {
  width:100%;
}

body {
  padding-bottom: 70px;
}
